{% extends "template.html" %}

{% block headline %}
	<h1>Signup</h1>
{% endblock headline %}

{% block body %}
	<form action="/checkSignup">
		<label for="email">Email</label><br>
		<input type="text" id="email" name="email"><br>
		<label for="password">Password</label><br>
		<input type="password" id="password" name="password"><br>
		<label for="username">Username</label><br>
		<input type="text" id="username" name="username"><br>
		<input type="submit" value="Submit">
	</form>
{% endblock body %}