<!DOCTYPE html>
<html>
<head>
	<title>Store</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
	<div id="contentWrapper">
		<div id="navbar">
			{% if current_user.is_authenticated %}
				<div class="space-around">
					<a href="/home">Home</a>
					<a href="/stock">Stock</a>
					<a href="/cart">Your cart</a>
					{% if current_user.isAdmin() %}
						<a href="/addStock">Edit stock</a>
					{% endif %}
					<a href="/logout">Log out</a>
				</div>	
			{% else %}
				<div class="space-around">
					<a href="/login">Login</a>
					<a href="/signup">Sign up</a>
				</div>
					
			{% endif %}
		</div>
		<header class="center">
			{% block headline %}

			{% endblock headline%}
		</header>
		{% block body %}

		{% endblock body %}
	</div>
</body>
</html>